h1 {
  font-size: 26px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  margin-left: 15px;

}

b {
  text-transform: uppercase;
}

.menu {
  color: #333ab7;
  font-weight: 600;
  font-size: 32px;
  padding: 2%;
  margin:  1% 1% 1% 45%;
  display: inline-block;
}

.container {
  font-family: 'Open Sans', sans-serif;
  width: 960px;
  margin: 0 auto;
  background-color: #77A8CC;
  min-height: 100vh;
}

fieldset {
  border: none;
}

label {
  display: inline-block;
  min-width: 82px;
  text-align: right;
}

li{
  color: #333;
  margin-left: 20px;
}

.thumb {
  max-width: 10em;
  max-height: 10em;
  margin: 20px;
  filter:grayscale(100%);
}

.thumb:hover{
  filter:grayscale(0);
}

button {
  transition: .5s;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 10px;
}

button:hover{
  background-color: #c61140;
  transform: scale(1.2);
}

.feature {
  max-width: 30em;
  border:5px solid white;
}
.diamond-1 {
    background-color:#77A8CC;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    transform-origin: 0 -20%;
    position:absolute;
    z-index: -1;
}

.diamond-2 {
    background-color: cadetblue;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    transform-origin: -150% 55%;
    position:absolute;
    z-index: -1;
}
.diamond-3 {
    background-color: coral;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    transform-origin: -312% 50%;
    position:absolute;
    z-index: -1;
}
